@model ContactManagement.App.ViewModels.ContactViewModel

@{
    ViewData["Title"] = "Details";
}

<h3>@ViewData["Title"]</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntityContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntityContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.ID">Edit</a>
    <a class="btn btn-danger" asp-action="Index" asp-route-id="@Model?.ID">Remove</a>
</div>
