@model IEnumerable<ContactManagement.App.ViewModels.ContactViewModel>

@{
    ViewData["Title"] = "List of Contacts";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntityContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntityContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ID">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
